<!DOCTYPE html>
{%extends "base.html"%}
{% load static %}


{%block content%}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Login</h1>
                        </div>
                        <form method="post" class="user">
                            {%csrf_token%}
                    
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address" required>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" class="form-control form-control-user" id="password"
                                        placeholder="Password" required>
                                    </div>
                            </div>
                            {% comment %} <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" name="rpassword" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repeat Password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="farmer" checked required>
                                        <label class="form-check-label" for="exampleRadios1">
                                         Farmer
                                        </label>
                                      </div>
                                      
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="aggregator" checked required>
                                        <label class="form-check-label" for="exampleRadios1">
                                          Aggregator
                                        </label>
                                      </div>
                                      
                                </div> {% endcomment %}
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                            <button  class="btn btn-primary btn-user " type="submit">
                                login
                            </button>
                        </div>
                        </form>
                            {% comment %} <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>{% endcomment %}
                        <div class="text-center">
                            <a class="small" href="{% url 'register' %}">Don't have account, Register!</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

   
{% include 'footer.html' %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "error"%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');

    swal({
	title:'{{message}}',
	//text: "You clicked the button!",
	icon:"warning",
	button:"ok"
});
  });
</script>
{%else%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');

    swal({
	title:'{{message}}',
	//text: "You clicked the button!",
	icon:"success",
	button:"ok"
});
  });
</script>
{% endif %}
{%endfor%}
{% endif %}
{%endblock%}
    